.App {
  text-align: center;
}

body {
  background-color: #FCE3E6; /* light pink background */
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* General button styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Primary button */
button.primary {
  background-color: #ff6b6b;
  color: #fff;
}

button.primary:hover {
  background-color: #f73859;
}

/* Secondary button */
button.secondary {
  background-color: #f2f2f2;
  color: #555;
}

button.secondary:hover {
  background-color: #ddd;
}

